@model Phone;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
</html>
<link rel="stylesheet" href="~/css/style3.css">
<div class="edit-block">
    
    <h2>Животное эндемик</h2>
    @using (Html.BeginForm("EditPhone", "Home"))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="dataBox">
            <label>Название животного</label><br />
            @Html.TextBoxFor(m => m.Model, new { @class = "text-box" })
            @Html.ValidationMessageFor(m => m.Model)
        </div>
        <div class="dataBox">
            <label>Популяция</label><br />
            @Html.TextBoxFor(m => m.Price, new { type = "number", @class = "text-box" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div class="dataBox">
            <label>Название страны</label><br />
            @Html.DropDownListFor(m => m.BrandId, ViewBag.Compans as SelectList)
        </div>
        <br />
        <div class="dataBox">
            <input type="submit" value="Сохранить" />
        </div>
    }
    <div class="back">
        <a asp-action="Index">Вернуться на главную</a>
    </div>
</div>
